:root {
  --bg-primary: rgba(255, 255, 255, 1);
  --bg-secondary: rgba(8, 9, 28, 0.04);
  --secondaryHover: rgba(8, 9, 28, 0.08);
  --secondaryActive: rgba(8, 9, 28, 0.12);
  --bg-disabled: rgba(8, 9, 28, 0.08);
  --bg-accent: rgba(151, 71, 255, 1);
  --bg-accentHover: rgba(134, 40, 255, 1);
  --bg-accentActive: rgba(122, 19, 255, 1);
  --bg-accentSubdued: rgba(151, 71, 255, 0.06);
  --bg-accentSubduedHover: rgba(151, 71, 255, 0.1);
  --bg-accentSubduedActive: rgba(151, 71, 255, 0.14);
  --bg-critical: rgba(229, 69, 69, 1);
  --bg-critiralHover: rgba(229, 46, 46, 1);
  --bg-criticalActive: rgba(229, 23, 23, 1);
  --bg-criticalSubdued: rgba(229, 69, 69, 0.06);
  --bg-criticalSubduedHover: rgba(229, 69, 69, 0.1);
  --bg-criticalSubduedActive: rgba(229, 69, 69, 0.14);
}
