:root {
  --icon-primary: rgba(8, 9, 28, 0.04);
  --icon-secondary: rgba(8, 9, 28, 0.6);
  --icon-disabled: rgba(8, 9, 28, 0.36);
  --icon-accent: rgba(151, 71, 255, 1);
  --icon-accenthover: rgba(134, 40, 255, 1);
  --icon-accentActive: rgba(122, 19, 255, 1);
  --icon-subdued: rgba(151, 71, 255, 0.06);
  --icon-subduedHover: rgba(151, 71, 255, 0.1);
  --icon-subduedActive: rgba(151, 71, 255, 0.14);
  --icon-critical: rgba(229, 69, 69, 1);
  --icon-criticalHover: rgba(229, 46, 46, 1);
  --icon-criticalActive: rgba(229, 23, 23, 1);
  --icon-sun: rgba(240, 240, 9, 1);
  --icon-moon: rgba(232, 140, 19, 0.897);
  --icon-hover: rgba(100, 100, 100, 0.8);
}
