.Wrapper {
  display: flex;
  flex-direction: column;

  &SwitchBtn {
    position: fixed;
    top: 3%;
    right: 3%;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    align-self: flex-end;
    z-index: 200;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    -webkit-transition: background-color 0.3s ease, color 0.3s ease;
    -moz-transition: background-color 0.3s ease, color 0.3s ease;
    -ms-transition: background-color 0.3s ease, color 0.3s ease;
    -o-transition: background-color 0.3s ease, color 0.3s ease;
    &:hover {
      background-color: var(--icon-hover, rgba(129, 128, 128, 0.2));
      color: var(--icon-moon);
    }
  }

  &SwitchIcon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: color 0.3s ease, opacity 0.3s ease, transform 0.2s ease;
    -webkit-transition: color 0.3s ease, opacity 0.3s ease, transform 0.2s ease;
    -moz-transition: color 0.3s ease, opacity 0.3s ease, transform 0.2s ease;
    -ms-transition: color 0.3s ease, opacity 0.3s ease, transform 0.2s ease;
    -o-transition: color 0.3s ease, opacity 0.3s ease, transform 0.2s ease;

    &:hover {
      opacity: 0.8;
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
    }
  }

  &SwitchSun,
  &SwitchMoon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 0.8;
    }
  }
}
