.Wrapper {
  display: flex;
  flex-direction: column;
}
.WrapperSwitchBtn {
  position: fixed;
  top: 3%;
  border: none;
  background-color: transparent;
  width: 35px;
  height: 35px;
  align-self: flex-end;
  z-index: 200;
}
.WrapperSwitchSun {
  color: var(--icon-sun);
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
}
.WrapperSwitchSun:hover {
  opacity: 0.8;
}
.WrapperSwitchMoon {
  color: var(--icon-moon);
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
}
.WrapperSwitchMoon:hover {
  opacity: 0.8;
}