@import '@/app/styles/variables/_mixins';
.Projects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &Title {
    @include titleH2;
    text-align: center;
  }
  &BtnWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 1rem;
  }

  &Btn {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    outline: none;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    cursor: pointer;
    border-color: var(--purple-primary);
    color: var(--purple-primary);
    transition: background-color 0.3s ease, color 0.3s ease,
      border-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease, color 0.3s ease,
      border-color 0.3s ease;
    -moz-transition: background-color 0.3s ease, color 0.3s ease,
      border-color 0.3s ease;
    -ms-transition: background-color 0.3s ease, color 0.3s ease,
      border-color 0.3s ease;
    -o-transition: background-color 0.3s ease, color 0.3s ease,
      border-color 0.3s ease;
    &:hover {
      color: var(--white-primary);
      background-color: var(--purple-primary);
      border-color: transparent;
    }
    &:active {
      color: var(--white-primary);
      background-color: var(--purple-primary);
      border-color: transparent;
    }
  }
}
