@import '@/app/styles/variables/_mixins';
.Projects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &Title {
    @include titleH2;
    text-align: center;
  }
  &BtnWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 1rem;
  }

  &Btn {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    outline: none;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    cursor: pointer;
    border: 1px solid var(--color-secondary-200);

    color: var(--color-secondary-200);
    transition: background-color 0.2s ease, color 0.2s ease,
      border-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease, color 0.2s ease,
      border-color 0.2s ease;
    -moz-transition: background-color 0.2s ease, color 0.2s ease,
      border-color 0.2s ease;
    -ms-transition: background-color 0.2s ease, color 0.2s ease,
      border-color 0.2s ease;
    -o-transition: background-color 0.2s ease, color 0.2s ease,
      border-color 0.2s ease;
    &:hover {
      color: var(--color-neutral-900);
      background-color: var(--color-secondary-300);
      border-color: transparent;
    }
    &:active {
      color: var(--color-neutral-900);
      background-color: var(--color-secondary-300);
      border-color: transparent;
    }
    &.active {
      background-color: var(--color-secondary-300);
      color: var(--color-neutral-900);
      border-color: transparent;
      font-weight: var(--font-weight-bold);
      box-shadow: var(--shadow-base-default);
    }
  }
}
