@import './styles/variables/variable.scss';
@import './styles/variables/variable.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--purple-primary);
}

html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

body {
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: clamp(0.5rem, -3.669rem + 15.882vw, 10.625rem);
  padding-right: clamp(0.5rem, -3.669rem + 15.882vw, 10.625rem);
  max-width: 1440px;
  margin: 0 auto;
}

[data-theme='dark'] .content {
  background-color: var(--white-primary);
  color: var(--black-primary);
}
