.Wrapper {
  display: flex;
}
.WrapperUpBtn {
  position: fixed;
  right: 10%;
  bottom: 10%;
  background: inherit;
  fill: var(--purple-primary);
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
  -webkit-transition: transform 0.3s ease, color 0.3s ease;
  -moz-transition: transform 0.3s ease, color 0.3s ease;
  -ms-transition: transform 0.3s ease, color 0.3s ease;
  -o-transition: transform 0.3s ease, color 0.3s ease;
}
.WrapperUpBtn:hover {
  color: var(--purple-700);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.WrapperUpBtn:focus {
  outline: none;
}
.WrapperUpBtn:focus-visible {
  outline: 1px solid var(--purple-primary);
}

@media screen and (max-width: 610px) {
  .Wrapper {
    display: none;
  }
}