:root {
  --transition-var: transform 0.3s ease, color 0.3s ease;
}
.Wrapper {
  display: flex;
  &UpBtn {
    position: fixed;
    right: 10%;
    bottom: 10%;
    background: inherit;
    fill: var(--color-secondary-300);
    border: none;
    cursor: pointer;
    transition: var(--transition-var);
    -webkit-transition: var(--transition-var);
    -moz-transition: var(--transition-var);
    -ms-transition: var(--transition-var);
    -o-transition: var(--transition-var);
    &:hover {
      color: var(--color-secondary-400);
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
    &:focus {
      outline: none;
    }
    &:focus-visible {
      outline: 1px solid var(--color-secondary-300);
    }
  }
}

@media screen and (max-width: 610px) {
  .Wrapper {
    display: none;
  }
}
