@import '@/app/styles/variables/_mixins';

.Nav {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &Menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
    list-style-type: none;
  }
  &Link {
    @include paragraph4;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    opacity: 1;
    transition: var(--transition-var);
    -webkit-transition: var(--transition-var);
    -moz-transition: var(--transition-var);
    -ms-transition: var(--transition-var);
    -o-transition: var(--transition-var);
    &:hover {
      color: var(--color-secondary-400);
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      border: none;
      padding: 0.2rem;
      text-shadow: var(--shadow-base-hover);
    }
  }
  &MobileBtn {
    display: none;
  }
}

@media (max-width: 768px) {
  .Nav {
    &Menu {
      width: 100%;
      height: 100vh;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: fixed;
      background: inherit;
      backdrop-filter: blur(25px);
      gap: 3rem;
      opacity: 1;
      left: -100%;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      transition: var(--transition-var);
      -webkit-transition: var(--transition-var);
      -moz-transition: var(--transition-var);
      -ms-transition: var(--transition-var);
      -o-transition: var(--transition-var);
    }
    &MobileBtn {
      display: block;
      z-index: 15;
    }
  }
  .active {
    left: 0;
  }
}

@media (hover: none) and (pointer: coarse) {
  .NavListItemLink:hover {
    color: inherit;
  }
}
