@import '@/app/styles/variables/_mixins';

.Nav {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &Menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
    list-style-type: none;
  }
  &Link {
    @include paragraph4;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    opacity: 1;
    transition: all var(--transition-var) ease;

    &:hover {
      color: var(--color-secondary-400);
      transform: scale(1.02);
      border: none;
      text-shadow: var(--shadow-base-hover);
    }
  }
  &MobileBtn {
    display: none;
  }
}

@media (max-width: 768px) {
  .Nav {
    &Menu {
      width: 100%;
      height: 100vh;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: fixed;
      background-color: var(--color-neutral-0);
      gap: 3rem;
      opacity: 1;
      left: -100%;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      transition: var(--transition-var);
    }
    &MobileBtn {
      display: block;
      z-index: 15;
    }
  }
  .active {
    left: 0;
  }
}

@media (hover: none) and (pointer: coarse) {
  .NavListItemLink:hover {
    color: inherit;
  }
}
