@import '@/app/styles/variables/_mixins';

.Footer {
  &Contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  &ContactsTitle {
    @include titleH3;
    text-align: center;
    margin-bottom: 1rem;
  }
  &ContactsLink {
    @include paragraph2;
    color: inherit;
    text-decoration: none;
    display: flex;
    gap: 0.5rem;
    transition: transform 0.3s ease, color 0.3s ease;
    -webkit-transition: transform 0.3s ease, color 0.3s ease;
    -moz-transition: transform 0.3s ease, color 0.3s ease;
    -ms-transition: transform 0.3s ease, color 0.3s ease;
    -o-transition: transform 0.3s ease, color 0.3s ease;
    &:hover {
      color: var(--color-secondary-400);
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
  }
  &List {
    display: flex;
    gap: clamp(1rem, 0.176rem + 3.14vw, 3rem);
    align-items: center;
    justify-content: center;
    list-style-type: none;
  }
  &SVG {
    fill: inherit;
  }
}

@media (hover: none) and (pointer: coarse) {
  .FooterContactsLink:hover {
    color: inherit;
  }
}
