@import '@/app/styles/variables/_mixins';

.Experience {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &Wrapper {
    display: flex;
    gap: 1rem;
  }
  &Title {
    text-align: center;
    @include titleH2;
    font-family: var(--font-open-sans);
    margin-bottom: 1rem;
  }
  &Descr {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &Title {
      margin-bottom: 0.5rem;
    }
    &TitleH4 {
      @include titleH4;
      border-bottom: 2px dashed var(--color-secondary-200);
      display: inline-block;
      padding-bottom: 0.25rem;
      margin-bottom: 0.25rem;
    }
    &Text {
      line-height: 1.3;
    }
    &List {
      list-style-type: none;
      &Item::before {
        content: '-';
        padding-right: 0.5rem;
      }
    }
  }
}
